.dashboard-s1-b1 {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    height: 100%;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.07);
    margin: auto;
  }
.dashboard-s1-b1,.dashboard-s1-b2 > h1{
  
  text-align: center;


}
  .dashboard-s1-b2 {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    height:100%;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.07);
    margin: auto;

    
  }
  
.dashboard-s1 {

    display: flex;
    justify-content:center;
    height: 520px;
    /* background-color: #6F77B1; */
    position: relative;
  }


 .Sum{
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 95%;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.07);
    margin:auto;
  }
  
  

  .highlight-container {
    display: flex;
    align-items: center;
    margin-bottom: 1px;

  }
  

  .circle-red {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FF0000;
    margin-left:20px;
   
    
  }
  
  .circle-orange {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FF5100;
    margin-left:20px;
   
    
  }
  .circle-yellow {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFBB28;
    margin-left:20px;
   
    
  }
  .circle-blue {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #6F77B1;
    margin-left:20px;
   
    
  }
  

  .collapse-content {
    overflow: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th {
    background: #F1F1F1;
    padding: 10px;


  }
  
  tbody tr {
    background: #fff;


  }
  
.Sum td{
    padding: 10px;
    text-align: center;
 

 
  }

td{
    padding: 10px;
   

 
  }
/* DashboardAll */
.content-container {
  margin-left: 70px;
}
.content-container > h1 {
  color: #064061;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
}
.dashboard-All {
  display: flex;
  background-color: #efefef;
}


.dashboardAll-s1 {
  display: flex;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 1200px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  margin-top: 0px;
  margin: auto;
  display: flex;
  justify-content:center;
  height: 550px;
  /* background-color: #6F77B1; */
  position: relative;
}
.dashboardAll-s1-c1 {
  background: #fff;
  padding: 10px;
  border-radius: 20px;
  width: 550px;
  height: 95%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  margin-top: 0px;
    /* display: flex;
    justify-content: space-between; */
  }
.dashboardAll-s1-c1,.dashboardAll-s1-c2 > h1{
  
    text-align: center;

  }
.highlightAll-container {
  display: flex;
  align-items: center;
  
}

.highlightAll-container p {
  margin: 0; 
  margin-right: 10px; 
}
  
  

.circle-redd {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #FF0000;

  
  
}

.circle-orangee {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #FF5100;

  
  
}

.circle-yelloww {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #FFBB28;

  
  
}
.circle-bluee {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #6F77B1;
  
}

.dashboardAll-s1-c2 {
  background: #fff;
  padding: 10px;
  border-radius: 20px;
  width: 550px;
  height: 95%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  margin-top: 0px;
  margin-left: 50px;
}
.All{
  margin-left: 20px;
} */
.dashboardAll-s2 {
  background: #fff;
  padding: 10px;
  border-radius: 20px;
  width: 1200px;
  height: auto; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-left: 0px;
  display: flex; 
  /* flex-direction: column; 
  overflow-y: auto;  */
  
}

.dashboardAll h1 {
  margin: 20; 
} */



.dashboardAll-s2-proj-b-cc {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  width: 1530px;
  height: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-left: 0px;

  
}

.dashboardAll-s2-proj-b-c1,
.dashboardAll-s2-proj-b-c2 {
  display: flex;
}

.dashboardAll-s2-proj-b-c1 {
  align-items: center;
}

.dashboardAll-s2-proj-b-c2 {
  padding-right: 20px;
  align-items: center;
  
}


.circle-redminii {
  width: 45px; 
  height: 40px; 
  border-radius: 70%;
  background-color: #FF0000;
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: center;
  margin-right: 15px;
}
.circle-redmini {
  width: 45px; 
  height: 40px; 
  border-radius: 70%;
  background-color: #FF5100;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.circle-yellowmini {
  width: 45px; 
  height: 40px; 
  border-radius: 70%;
  background-color: #FFBB28;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.circle-bluemini {
  width: 45px; 
  height: 40px; 
  border-radius: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6F77B1;
 
}
.circle-text {
  color: white;
  margin: 0;
}

.dashboardAll-s2-proj-b {
  text-decoration: none;
}

.project-link-container {
  display: flex;
  align-items: center;
  color: #40495B; 
  padding: 10px;
  border-radius: 5px;
}

.earth-icon {
  font-size: 24px;
  margin-right: 10px;
}

.project-name {
  margin: 0;
  font-size: 18px;
}
.show-more-btn {
  display: flex;
  font-size: 40px;
  cursor: pointer;
  margin-left: 800px;
}