.mainDash {
    
  margin: auto;
  text-align:left;
  width:1000px;
  height: 800px;
  
}

/* .projcard-inner{
display: flex;

}
.projcard-inner >p {
margin-right: auto;
} */
.projcard-inner-ico{
  width: 50px;
  height: 50px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.projindash{
margin-bottom: 50px;
}

.projcollaspe-head {
display: flex;
align-items: center;
justify-content: space-between; 
}

.projcollaspe-content {
display: flex;
align-items: center;
}
.projname {
font-weight: 500;
margin-left: 20px;
}

.close-button {
font-size: 15px;
margin-left: 20px;
color: red;
}
.projdes {
margin-right: 20px;
margin-left: 20px;
align-items: center;
flex-grow: 1;
}

.projname,
.projdes {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
line-break: anywhere;
}

.severitybutton-control{
  display: flex;
}
.severitybutton-c{
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FF0000;
  margin-left:20px;
  text-align: center;
  color: white;
  
  
}
.severitybutton-h{
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color:#FF5100;
  margin-left:20px;
  color: white;
}
.severitybutton-m{
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFBB28;
  margin-left:20px;
  color: white;
}
.severitybutton-l{
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #6F77B1;
  margin-left:20px;
  color: white;
}