.ProjectDash-Head{
    display: flex;
    margin-left: 50px;
    
}
.ProjectDash-Head > h2{
    color: #064061;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.ProjectDash{
    background-color: #efefef;
    padding-bottom: 10px;
}
.ProjectDashh{
    background-color: #ffff;
    padding-bottom: 10px;
}
.ProjectDashLayout{
    width: 1200px;
    height: max-content;
    border-radius: 20px;
    /* box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2); */
    align-items: center;
    align-content: center;

    margin: 20px auto;
}

.ProjectDashLayoutt{
    width: 1500px;
    height: 1200px;

    border-radius: 20px;
    /* box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.); */
    align-items: center;
    align-content: center;

    margin: 20px auto;
}
.ProjectDashLayout p {
    padding: 10px; 
    border-radius: 5px; 
    word-break: break-all;
}
