.loginpage{
  background-image:url("./imgsrc/artistic-blurry-colorful-wallpaper-background.jpg");
  height: auto;
}
.navlogin {
  position: fixed;
  display: flex;
  align-items: center;
  /* background-color: #ffffff; */
  width: 100%;
  top: 0;
  height: 70px;
  z-index: -1;
  padding: 20px 20px;
  /* box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.2); */
  font-family: 'Montserrat', sans-serif;
  /* transition: top 0.3s;  */
}

.mynavbar > img {
  max-width: 30px;
  margin-right: 20px;
  position: 'fixed';
  top: 35;
}

.mynavbar > h3 {
  margin-right: auto;
  color: #404040;
  font-weight: 700;
  font-size: 20px;  
}

.login-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center; 
  /* align-content: center; */
  /* justify-content: center;  */
  width: 500px;
  height: 450px;
  margin: 100px auto; 
  padding: 20px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  /* border-radius: 20px; */
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  }
.regis-container {
display: flex;
flex-direction: column;
align-items: center; 

justify-content: center; 
width: 500px;
height: 500px;
margin: 100px auto; 
padding: 20px;

/* border-radius: 20px; */
box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
background-color: #f9f9f9;
}



h2{
font-weight: 500;
}

.forminput-control{
  width: 50px;
}



.btn {

width: 100%;
margin-top: 10px;
padding: 10px;
background-color: #060326;
color: #fff;
border-radius: 5px;
cursor: pointer;
font-style: Bold;
font-weight: 500;
font-size: 16px;

}

.LoginFooter{
  display:flex;
  align-items: center;
}
.LoginFooter > p {
  color: #838383;
font-weight: 400;
font-size: 14px;
}
.nav-link {
  color: #0046eb;
font-weight: 400;
font-size: 14px;
}