.contentStyle{
    height: 650px;
    color: #fff;
    line-height:auto;
    text-align: center;
    position: relative;
    background: linear-gradient(130deg, rgba(1,21,38,1) 23%, rgba(43,71,96,1) 100%);
  }
  .fs-1 {
    position: relative;
    height: 650px /* Ensure the container takes the full height of the parent */
  }
  .fs-1-image {
    width: 100%;
    height: 1000px;
    object-fit: cover;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
.fs-1-t1{
    display: flex;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 25px;
    margin-left: 5%;
    margin-top: 20px;
    font-style: normal;
    
}
.fs-1-t1-appname {
    background: linear-gradient(335deg, rgba(34,193,195,1) 0%, rgba(45,74,253,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Standard property */
    color: transparent; /* Standard property */
    font-family: "Bricolage Grotesque", sans-serif;
  }
.fs-1-t2{
    
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 12px;
    margin-left: 8%;
    margin-top: 5px;
    text-align: left;
    font-style: normal;
    
}
.fs-1-t2-d{
    display: flex;
    margin-top: 0px;
}
.fs-1-t2-d-i{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    
}
.fs-1-t2-d > h3 {

    font-weight: 400;
    font-size: 15px;
    text-align: left;
    font-style: normal;
    margin: 10px 5px;
}
.fs-2 {
    position: relative;
    height: 650px /* Ensure the container takes the full height of the parent */
  }
.fs-2-image {
    width: 100%;
    height: 650px;
    object-fit: cover;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
.fs-2-t2{
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    width: auto;
    margin-left: 8%;
    display: flex;
    
    z-index: 1;
}
.fs-2-t2 > h1{
    color: #000;
    font-weight: 800;
    font-size: 15px;
    font-style: normal;

}
.fs-2-t2-d-i{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    
}
.CButton {
    position: absolute; 
    top: 90%;
    left: 50%;
    width: 150px;
    height: 50px;
    text-align: center;
    transform: translate(-50%, -50%);
    background: #F0AD21;
    z-index: 1; /* Ensure the button is on top of the carousel */
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 20px;
    font-style: normal;
}
.secondSection{
    width: auto;
    height: 1300px;
    background: white;
    
}

.thirdSection{
    width: auto;
    height: 650px;
    background: linear-gradient(164deg, rgba(3,90,166,1) 0%, rgba(1,35,64,1) 100%);
}

