.App {
  text-align: center;
  background-color: #efefef;
}

.Applayout {
  background-color: #efefef;
}
.spaceUpApp{
  width: 100%;
  background-color: #efefef;
  height: 200px;
}
/* .Home {
  
  order: 2; 
} */
