.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Applayout {
  margin-top: 50px;
  display: flex;
}

.Sidemenu {
  margin-right: 20px;
  order: 1; 
}

/* .Home {
  margin-right: 20px;
  margin-top: 50px;
  order: 2; 
} */
